<h2>
	le tableau comporte
	{{authors| length}}
	auteurs
</h2>
{% if authors is empty or authors is not defined %}
	<h2>
		tableau non existant ou vide!
	</h2>

{% else %}
	<table border="1">
		<tr>
			<th>Id</th>
			<th>picture</th>
			<th>UserNAme</th>
			<th>email</th>
			<th>nb_books</th>
		</tr>
		{% set l=0 %}
		{% for elt in authors %}
			<tr>
				<td>{{elt.id}}</td>
				<td><img src="{{elt.picture}}" alt="pas d'image"></td>
				<td>{{elt.username | upper}}</td>
				<td>{{elt.email}}</td>
				<td>{{elt.nb_books}}</td>
				<td>
					<a href="{{path("author_authorDetails",{'id': elt.id})}}">Details</a>
				</td>
				{% set l= l + elt.nb_books %}
			</tr>

		{% endfor %}
		<h2>
			le nombre totale des books est
			{{l}}
		</h2>
	</table>

{% endif %}